@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --dark-main-color: #cb997e;
  --dark-color: #6b705c;
  --light-main-color: #ddbea9;
  --light-color: #ffe8d6;
  --back-light-color: #b7b7a4;
  --back-dark-color: #8a817c;
  --positive-color: #38b000;
  --hover-positive-color: #20c000;
  --negative-color: #b80202;
  --hover-negative-color: #d00000;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background-color: var(--back-light-color);
  color: var(--light-color);
}
